<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <!-- List of users -->
    <header>CineGold</header>
    <h1>Users</h1>

        <ul class="user-list">
        {% for user in users %}
         <li class="user-entry">
            <a href="{{ url_for('display_users') }}" class="btn"></a>
            <span>{{ user.name }}</span>
            <!-- Button that links to the movies page for this user -->
            <form action="{{ url_for('display_movies', user_id=user.id) }}" method="get">
                <button type="submit">View Movies</button>
            </form>

         </li>
        {% endfor %}
        </ul>
    <!-- Add new user -->
    <form action="{{ url_for('create_user') }}" method="post">
        <label for="name">New User:</label>
        <input type="text" id="name" name="name" required><br><br>
        <button type="submit">Add User</button>
    </form>
    <!-- displaying the success msg -->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            <li>
            {% if category == 'error' %}
            <span style="color:red; font-weight:bold;">{{ message }}</span>
            {% else %}
            <span style="color:green; font-weight:bold;">{{ message }}</span>
            {% endif %}
            </li>
        </ul>
    {% endif %}
    {% endwith %}
    {% endblock %}
<footer>© 2025 MovieApp. All rights reserved.</footer>
</body>
</html>
