<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <!-- List of users -->
    <header>CineGold
    <img src="/static/images/cinelogo.avif" alt="The website logo" width="100" height="100">

    </header>

       <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes" id="flash-messages">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1 class="user-heading">Our Cinema Lovers</h1>
    <p>Since it's inception in 1895, cinema has managed to captivate billions of people around the world!</p>
    <p>This little Web App is our way of paying tribute to it's inventors the Lumière Brothers!</p>
        <ul class="user-list">
        {% for user in users %}
         <li class="user-card">
            <a href="{{ url_for('display_users') }}" class="btn"></a>
            <span>{{ user.name }}</span>
            <!-- Button that links to the movies page for this user -->

             <form action="{{ url_for('display_movies', user_id=user.id) }}" method="get">
                <button type="submit">View Movies</button>
            </form>

         </li>
        {% endfor %}
        </ul>
    <!-- Add new user -->
    <div class="user-add">
    <form action="{{ url_for('create_user') }}" method="post">
        <label for="name">New User:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required><br><br>
        <button type="submit">Add User</button>
    </form>
    </div>
    <footer>© 2025 MovieApp. All rights reserved.</footer>


    <script>
  // Auto-hide flash messages after 4 seconds
  window.addEventListener('DOMContentLoaded', (event) => {
    const flashContainer = document.getElementById('flash-messages');
    if (flashContainer) {
        // Start fade out after 10 seconds
      setTimeout(() => {
        flashContainer.style.opacity = '0';
        // Completely remove from layout after transition (1s)
        setTimeout(() => flashContainer.style.display = 'none', 1000);
      }, 10000); // 10000ms = 10 seconds
    }
  });
    </script>
</body>
</html>
