<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>

     <form action="{{ url_for('display_movies', user_id=user.id) }}" method="GET">
     <h1> Movies for {{user.name}}</h1>
     <!-- Movie Section -->
     {% if movies %}
        {% for movie in movies %}

        <h3>{{ movie.name }}</h3>
        <p>Director: {{ movie.director or 'N/A' }}</p>
        <p>Year: {{ movie.year or 'N/A' }}</p>

        <img src="{{ movie.poster_url }}" alt="Cover for {{ movie.name }}">

        <!-- For deletion -->
        <form action="{{ url_for('remove_movie', movie_id=movie.id) }}" method="POST">
        <button type="submit">Delete</button>
        </form>
        <!-- For Update -->
        <form action="{{ url_for('update_movie', movie_id=movie.id) }}" method="POST">
            <input type="text" name="new_title" placeholder="New Title">
            <button type="submit">Update</button>
        </form>

        {% endfor %}
    {% endif %}
     </form>
    <!-- Adding a new movie-->
    <form action="{{ url_for('add_movie', user_id=user.id) }}" method="POST">
        <label for="movie">Movie Title:</label>
        <input type="text" id="movie" name="movie" required><br><br>
        <label for="year">Year:</label>
        <input type="text" id="year" name="year"><br><br>
        <button type="submit">Add Movie</button>
    </form>


</body>
</html>